:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --white: hsl(0, 0%, 100%);
    --golden-yellow: #feac32;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--dark-grey);
    background-color: var(--slate-300);
    min-width: 375px;
    position: fixed;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-45%) translateY(-50%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    background-color: var(--light-grey);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

#qr-code {
    border-radius: 10px;
    max-width: 300px;
}

h2 {
   font-weight: 700;
   color: var(--slate-900);
}

p {
    font-weight: 400;
    color: var(--slate-500);
    margin: 0 15px;
}