:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --light-grey: #f5f6f7;
    --dark-orange: #f89808;
    --white: hsl(0, 0%, 100%);
    --golden-yellow: #feac32;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: var(--dark-grey);
    background-color: var(--dark-grey);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
